@inherits LayoutComponentBase
@using Client.Components
@inject NavigationManager NavigationManager

<div class="background-color-change"></div>

<NavigationMenu />

<main>
    @Body
</main>

@code {
    private string _currentUrl = "";

    protected override void OnInitialized()
    {
        _currentUrl = NavigationManager.Uri;
    }
}

