@inherits LayoutComponentBase
@using Client.Components
@inject NavigationManager NavigationManager

<div class="background-color-change"></div>

<NavigationMenu />
@*
<div style="display:flex; width: 100%; justify-content: end; margin: var(--padding-sm) 0px">
    <Button Text="Machine toevoegen" />
</div>*@
<main>
    @Body
</main>

@code {
    private string _currentUrl = "";

    protected override void OnInitialized()
    {
        _currentUrl = NavigationManager.Uri;
    }
}

