@{
    var adjustHeight = HasGlobalSearchBar ? "has-global-search" : ""; 
}

<div class="center-container @adjustHeight">
    <MudProgressCircular Color="Color.Info" Indeterminate="true" />
</div>

@code {
    public bool HasGlobalSearchBar { get; set; } = true; 
}
