<div class="loading-screen-wrapper">
    <div class="loading-screen">
        <div class="loading-items">
            <span><i class="fa-solid fa-vr-cardboard"></i> Virtual IT Company</span>

            <div class="loading-line" />
        </div>
    </div>
</div>