<div class="input-container multioption">
    <select class="input" type="text">
        @foreach (string day in Enum.GetNames(typeof(Availability.DayOfWeek)))
        {
            <option value="@day">@day</option>
        }
    </select>

    <select class="input" type="text">
        @foreach (string partofday in new List<string>(Enum.GetValues(typeof(Availability.PartOfDay)).Cast<Availability.PartOfDay>().Select(v => v.ToString().Replace("_", " "))))
        {
            <option value="@partofday">@partofday</option>
        }
    </select>
</div>
