.availability-option {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: Graphik, sans-serif;
    border: none;
    outline: none;
    padding: 17px;
    background-color: #f8f9fa;
    border-radius: 2px;
    font-size: 0.875rem;
}

.availability-day {
    font-weight: 600;
    color: var(--black);
}

.remove-icon {
    display: flex;
    width: 100%;
}

.remove-icon span {
    flex: 1;
}

.remove-icon i {
    color: var(--dark-blue);
    cursor: pointer;
}


