<div class="availability-option" style="@customCss">
    <span class="availability-day">@DayOfWeek.ToString()</span>
    <span class="remove-icon">
        <span>@PartOfDay.ToString()</span>
        <i class="fa-solid fa-xmark"></i>
    </span>
</div>



@code {
    [Parameter] public Availability.DayOfWeek? DayOfWeek { get; set; } = Availability.DayOfWeek.Wednesday;
    [Parameter] public Availability.PartOfDay? PartOfDay { get; set; } = Availability.PartOfDay.FullDay;
    [Parameter] public string customCss { get; set; } = "";
}
