<div class="availabilityoption" style="@customCss">
    <span class="availabilityday">@DayOfWeek.ToString()</span>
    <span class="availabilitytrash">
        <span>@PartOfDay.ToString()</span>
        <i class="fa-solid fa-trash trashicon"></i>
    </span>
</div>



@code {
    [Parameter] public Availability.DayOfWeek? DayOfWeek { get; set; } = Availability.DayOfWeek.Woensdag;
    [Parameter] public Availability.PartOfDay? PartOfDay { get; set; } = Availability.PartOfDay.Hele_dag;
    [Parameter] public string customCss { get; set; } = "";
}
