<div class="graph-container">
    <div class="graph-title">@Title <span class="unit">(@Unit)</span></div>
    <div class="graph">
        @foreach (int value in Data)
        {
             int whitespace = UpperBound - value; 
            
            <div class="column">
                <div style="flex-grow: @whitespace;" class="white-space"></div>
                
                @if (value != 0)
                {
                    <div style="flex-grow: @value;" class="value">@value</div>
                }
                
            </div>
        }
    </div>    
    <div class="label-container">
        <div class="start">@StartLabel</div>
        <div class="end">@EndLabel</div>
    </div>

</div>

@code {
    
    [Parameter] public IList<int> Data { get; set; } = new List<int>();
    [Parameter] public int UpperBound { get; set; } = 10;

    [Parameter] public string Title { get; set; } = "Title";
    [Parameter] public string Unit { get; set; } = "Unit";
    [Parameter] public string StartLabel { get; set; } = "Start";
    [Parameter] public string EndLabel { get; set; } = "End";

    protected override void OnInitialized()
    {
        Data.Add(3);
        Data.Add(1);
        Data.Add(8);
        Data.Add(5); 
        Data.Add(0);
        Data.Add(2);
        Data.Add(3);
        Data.Add(10);
    }

}
