.button,
.button-inverse {
    display: inline-block;
    font-size: var(--text-sm);
    font-weight: 600;
    padding: var(--padding-sm) calc(2 * var(--padding-sm));
    border-radius: calc(4 * var(--padding-sm));
    text-decoration: none;
    width: fit-content;
}

.button:hover {
    color: var(--white);
    background-color: var(--blue);
    border-color: var(--blue);
}

.button {
    color: var(--dark-blue);
    border: var(--border-size) solid var(--dark-blue);
}

.button-inverse {
    color: var(--white); 
    border: var(--border-size) solid var(--white);
}

.toggle-on {
    color: var(--white);
    background-color: var(--blue);
    border-color: var(--blue);
}

.toggle-off {
    color: var(--dark-blue);
    border: var(--border-size) solid var(--dark-blue);
}