@{
    string style =  "button" + (Inverse ? " button-inverse" : ""); 
}
<a class="@style" href=".">@Text</a>

@code {
    [Parameter] 
    public string Text { get; set; } = "Button";
    [Parameter]
    public bool Inverse { get; set; } = false; 
}
