@{
    string style = "button" + (Inverse ? " button-inverse" : ""); 
}
<a class="@style" href="@Href" @onclick="@(() => OnClick.InvokeAsync())">@Text</a>


@code {
    [Parameter] public string Href { get; set; } = ".";
    [Parameter] public string Text { get; set; } = "Forgot text";
    [Parameter] public bool Inverse { get; set; } = false;
    [Parameter] public EventCallback<string> OnClick { get; set; } = new();

}
