@inherits InputBase<int>
@using System.Linq.Expressions;

<div>
    <div class="input-container">
        <label for="">
            @_label
            @if (Required)
            {
                <sup class="requiredinput">*</sup>
            }
        </label>

        <input type="number" @bind="@CurrentValue" class="input" style="@customCss; background-color: white" placeholder="@PlaceHolder" required="@Required" />

    </div>
    <ValidationMessage For=@For />

</div>
@code {
    [Parameter, EditorRequired] public Expression<Func<int>> For { get; set; } = default!;
    [Parameter]
    public string customCss { get; set; } = "";
    [Parameter]
    public bool Required { get; set; } = false;
    [Parameter]
    public int OptionalId { get; set; } = -1;
    [Parameter]
    public string PlaceHolder { get; set; } = "";
    private string _label = "Label: ";
    [Parameter]
    public string Label
    {
        get => _label;

        set => _label = $"{value}: ";
    }

    protected override bool TryParseValueFromString(string? value, out int result, out string validationErrorMessage)
    {
        result = Int32.Parse(value);
        validationErrorMessage = null;
        return true;
    }
}

