<div class="input-container checkbox">
    <label>
        @Label:
    </label>
    <div class="checkbox-container">
        <input type="checkbox" checked=@Value @bind-value="Value" />
    </div>  
</div>


