<div class="card data-card">
    @foreach (KeyValuePair<string, string> entry in Entries)
    {
        <div class="entry">
            <p class="label">@entry.Key</p>
            <p class="value" title="@entry.Value">@entry.Value</p>
        </div>
    }
</div>

@code {
    [Parameter]
    public IDictionary<string, string> Entries { get; set; } = new Dictionary<string, string>(); 
}
