<div class="card data-card">
    <div class="entry">
        <p class="label">E-mailadres</p>
        <p class="value" title="joren.vermeersch@student.hogent.be" alt='test'>joren.vermeersch@student.hogent.be</p>
    </div>
    <div class="entry">
        <p class="label">Telefoonnummer</p>
        <p class="value">09 235 49 54</p>
    </div>
</div>

@code {

}
