<div class="card data-card" style="@customCss">
    @foreach (KeyValuePair<string, string> entry in Entries)
    {
        <div class="entry">
            <p class="label">@entry.Key</p>
            <p class="value" title="@entry.Value">@entry.Value</p>
        </div>
    }
</div>

@code {
    [Parameter] public string customCss { get; set; } = "";
}


