<div class="form-header">
    <i class="@Icon"></i>
    <p>@Text</p>
</div>

@code {
    [Parameter, EditorRequired] public string Icon { get; set; } = default!; 
    [Parameter, EditorRequired] public string Text { get; set; } = default!; 
}