.global-search-bar {
  --search-bar-height: calc(2 * var(--card-height));
}

.global-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--search-bar-height);
  background-color: var(--light-blue);
  padding: 0px var(--padding-md);
}

.global-search-bar .search-bar {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  height: var(--card-height);
  max-width: var(--small);

  padding: 0px var(--padding-lg);

  background-color: var(--white);
  border-radius: var(--border-radius);
  border-bottom: 3px solid var(--dark-blue);
}

.global-search-bar .search-bar i {
  color: var(--blue);
}

.global-search-bar .search-bar input {
  font-family: var(--font-stack);
  font-weight: 600;
  font-size: var(--text-md);

  padding-left: var(--padding-md);
  flex-grow: 1;
  border: none;
  outline: none;
}

.global-search-bar .search-bar input::placeholder {
  color: var(--dark-blue);
  opacity: 1;
}
