

/* General stying for both narrow and wide variants. */
li {
    cursor: pointer; 
}

.navigation-bar-narrow-wrapper .navigation-bar-narrow,
.navigation-bar-wide {
  display: flex;
  justify-content: center;
  height: var(--nav-height);
  padding: 0px var(--padding-md);
  font-size: var(--text-md);
  font-weight: 600;
  background-color: var(--white);
}

.navigation-bar-narrow-wrapper .navigation-bar-narrow ul,
.navigation-bar-wide ul {
  display: flex;
  flex: 1;
  max-width: var(--extremely-large);
  height: 100%;
  gap: var(--padding-lg);
}

.navigation-bar-narrow-wrapper .navigation-bar-narrow ul li,
.navigation-bar-wide ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-bar-narrow-wrapper .navigation-bar-narrow ul li:first-of-type,
.navigation-bar-wide ul li:first-of-type {
  padding-right: calc(2 * var(--padding-lg));
}

.navigation-bar-narrow-wrapper .navigation-bar-narrow ul li a,
.navigation-bar-wide ul li a {
  color: var(--black);
  text-decoration: none;
}

.navigation-bar-narrow-wrapper .navigation-bar-narrow ul li:first-of-type a,
.navigation-bar-wide ul li:first-of-type a {
  color: var(--dark-blue);
}

.navigation-bar-narrow-wrapper .navigation-bar-narrow ul li:last-of-type,
.navigation-bar-wide ul li:last-of-type {
  margin-left: auto;
}

/* Narrow styling. */
.navigation-bar-narrow-wrapper .navigation-bar-narrow {
  flex-direction: column;
}

.navigation-bar-narrow-wrapper .navigation-bar-narrow ul li i {
  color: var(--blue);
}

.navigation-bar-narrow-wrapper .navigation-bar-narrow ul li:last-of-type i {
  padding-left: var(--padding-lg);
  cursor: pointer;
}

.navigation-bar-narrow-wrapper .navigation-options {
  display: none;
  flex-direction: column;
  justify-content: center;
  justify-items: center;

  height: calc(100vh - var(--nav-height));
  padding: var(--padding-md);
  background-color: var(--dark-blue);
  position: fixed;
  width: 100vw;
}

.navigation-bar-narrow-wrapper .navigation-options ul {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.navigation-bar-narrow-wrapper .navigation-options ul li {
  display: inline-block;
  margin-bottom: var(--padding-lg);
  font-size: var(--text-md);
  font-weight: 600;
  border-bottom: var(--border-size-md) solid var(--dark-blue);
}

.navigation-bar-narrow-wrapper .navigation-options ul li.selected,
.navigation-bar-narrow-wrapper .navigation-options ul li:hover {
  border-bottom: var(--border-size-md) solid var(--blue);
}

.navigation-bar-narrow-wrapper .navigation-options ul li a {
  display: inline-block;
  width: 100%;
  padding-top: var(--padding-lg);
  padding-bottom: var(--padding-sm);
  color: var(--white);
  text-decoration: none;
}

.navigation-bar-narrow-wrapper .navigation-options .logout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-lg) 0px;
}

/* Wide styling. */

.navigation-bar-wide {
  display: none;
  align-items: center;
}

.navigation-bar-wide ul li:first-of-type i {
    color: var(--blue);
}

#logout-button {
    color: var(--dark-blue); 
    padding-left: var(--padding-sm); 
}

.navigation-bar-wide ul li a:hover {
    text-decoration: underline var(--blue) var(--border-size-md);
    text-underline-position: under;
    text-underline-offset: calc(var(--padding-sm) / 2);
}

.navigation-bar-wide ul li:first-of-type a:hover {
    text-decoration: none; 
}

@media screen and (min-width: 768px) {
    .navigation-bar-wide {
        display: flex;
    }

    .navigation-bar-narrow-wrapper {
        display: none;
    }
}


/* Fake authentication */
.fake-auth {
    display: flex;
    flex-wrap: wrap; 
    gap: var(--padding-md);
    align-items: center;
    max-width: var(--extremely-large);
    margin: auto;
    padding: var(--padding-md);
    font-size: var(--text-md); 
    font-weight: 600;
    border-bottom: 1px solid var(--light-gray);
}

.fake-auth > a {
    cursor: pointer; 
}
