@if(Type == "Intern"){
    <div class="no-vm" style="height:128px">
        <i class="fa-solid fa-circle-xmark fa-xl"></i>
        <p>Deze klant heeft nog geen virtuele machines</p>
    </div>
}else{
    <div class="no-vm" style="height:102px">
        <i class="fa-solid fa-circle-xmark fa-xl"></i>
        <p>Deze klant heeft nog geen virtuele machines</p>
    </div>
}

@code{
    [Parameter]public string Type { get; set; }
}