<div class="page-selector-wrapper">
    <div class="page-selector">     
       @if(NumberOfPages!=1){
            @for (int i = 1; i <= NumberOfPages; i++)
            {
                int index = i;
                string classname = index == SelectedPage ? "selected" : "";
                <button class=@classname @onclick="@(() => OnClick.InvokeAsync(index))">@i</button>
            }
       }
        
    </div>
</div>

@code {
    [Parameter] public int NumberOfPages { get; set; } = 5;

    [Parameter] public EventCallback<int> OnClick { get; set; }

    [Parameter] public int SelectedPage { get; set; } = 1;
}