<div class="page-selector-wrapper">
    <div class="page-selector">     
        @for(int i = 1; i < NumberOfPages + 1; i++){
            if(i == 1) {
                <button class="selected">@i</button>
            }
            else{
                <button>@i</button>
            }
        }
    </div>
</div>

@code {
    [Parameter] public int NumberOfPages { get; set; } = 5;
}