<a class="button" @onclick="@(() => OnClick.InvokeAsync())">@Text</a>


@code {

    [Parameter] public string Text { get; set; } = "Forgot text";
    [Parameter] public EventCallback<string> OnClick { get; set; } = new();

    [Parameter] public string customCss { get; set; }

}
