
<div class="search-container">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input class="input" type="text" style="@customCss" placeholder="@PlaceHolder" @onchange="OnSearchtermChanged" value="@_searchterm"/>
</div>


@code {
    [Parameter] public string PlaceHolder { get; set; } = "";
    [Parameter] public string customCss { get; set; } = "";
    [Parameter]
    public EventCallback<string> SearchtermChanged { get; set; }
    [Parameter] public string Searchterm { get; set; }
    private string _searchterm;

    protected override void OnParametersSet()
    {
        _searchterm = Searchterm;
    }
    private Task OnSearchtermChanged(ChangeEventArgs args)
    {
        Searchterm = args.Value.ToString();
        //StateHasChanged();
        return SearchtermChanged.InvokeAsync(Searchterm);
    }
}