
<div class="search-container">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input class="input" type="text" style="@customCss" placeholder="@PlaceHolder" @bind-value="_value" />
</div>


@code {
    [Parameter] public string PlaceHolder { get; set; } = "";
    [Parameter] public string customCss { get; set; } = "";

    private string _value;
    [Parameter]
    public string Text
    {
        get => _value;
        set
        {
            if (_value == value) return;
            _value = value;
            TextChanged.InvokeAsync(value);
        }
    }
    [Parameter]
    public EventCallback<string> TextChanged { get; set; }

    [Parameter] public EventCallback<string> OnClick { get; set; } = new();
}