
<div class="search-container">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input class="input" type="text" style="@customCss" placeholder="@PlaceHolder" @oninput="OnValueChanged" />
</div>


@code {
    [Parameter] public string PlaceHolder { get; set; } = "";
    [Parameter] public string customCss { get; set; } = "";
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
    [Parameter]
    public string Value { get; set; }
    private Task OnValueChanged(ChangeEventArgs e)
    {
        Value = e.Value.ToString();
        return ValueChanged.InvokeAsync(Value);
    }
}