<a class="card status-card" href="@Href">
    @{
        string activeIndicator = Active ? "active" : ""; 
    }
    <span class="value">@Value</span>
    <span class="indicator @activeIndicator"></span>
</a>



