
.status-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--padding-sm);
    border-radius: calc(4 * var(--padding-sm));

    color: var(--dark-gray);
    background-color: var(--light-gray);
    font-size: var(--text-sm);
    font-weight: 600;
    padding: var(--padding-sm) calc(2 * var(--padding-sm));
    text-decoration: none;
    user-select: none;
}

.active {
    color: var(--green); 
    background-color: var(--light-green); 
}

@keyframes zoof {
    0%{
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}



