<div class="titlepage">
    <i class="fa-solid fa-@IconString"></i>
    <div class="title-container">
        <p>@Type - @Mutation</p>
    </div>
</div>

@code {
    [Parameter] public string IconString { get; set; }
    [Parameter] public String Type { get; set; }
    [Parameter] public String Mutation { get; set; }
}