.titlepage {
    display: flex;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid var(--blue);
    justify-content: center;
}

.titlepage i {
    color: var(--dark-blue);
    font-size: 3rem
}

.title-container {
    left: 0;
    color: var(--dark-blue);
    font-size:.85rem;
    padding: 10px;
    z-index:-5;
    margin: 10px 0px;
    text-align: left;
}

