<div style="display: flex;justify-content: center;">
    <div class="title-container">
        <h1>@Type</h1>
        <h4>@Mutation</h4>
    </div>
</div>

@code {
    [Parameter] public String Type { get; set; }
    [Parameter] public String Mutation { get; set; }
}