@page "/host/{id:long}"
@layout MainLayout
@namespace Shared
@using Host
@inject IHostService hostService
@inject NavigationManager Navigation
@attribute [Authorize]

<PageTitle>Host [host name] Details</PageTitle>

<div class="context-menu">
    <div class="context-items" style="display: flex">
        <span style="flex: 1; cursor: pointer; display: flex; gap: 10px" class="small_title" @onclick="NavigateBack">
            <i class="fa-solid fa-arrow-left"></i>
            <span>Terug</span>
        </span>
        <span>
            <Button Text="Beheren" />
        </span>
    </div>
</div>
<div class="three-column-layout">
    <div class="one-third">
        <DataCard Entries="@_server.GetValueOrDefault("name")" />

        <Title Text="Specificaties" />
        <DataCard Entries="@_server.GetValueOrDefault("resources")" />
    </div>
</div>

@code{
    private Dictionary<string, Dictionary<string, string>> _server = new();
    [Parameter] public long Id { get; set; }
    private HostDto.Details? host;

    protected override async Task OnInitializedAsync()
    {
        host = await hostService.GetDetailAsync(Id);
        _server.Add("name", new() { { "Naam", host.Name} });
        _server.Add("resources", new() { { "vCPU", host.Specifications.Processors.ToString() }, { "Geheugen", host.Specifications.Memory.ToString() }, { "Opslag", host.Specifications.Storage.ToString() } });

    }

    private void NavigateBack()
    {
        Navigation.NavigateTo("host/list");
    }
}