@page "/host/{id:long}"
@layout MainLayout
@namespace Shared
@attribute [Authorize]

<PageTitle>Host [host name] Details</PageTitle>

<div class="context-menu">
    <div style="display: flex">
        <span style="flex: 1; cursor: pointer; display: flex; gap: 10px" class="small_title">
            <i class="fa-solid fa-arrow-left"></i>
            <span>Terug</span>
        </span>
    </div>
</div>
<div class="three-column-layout">
    <div class="one-third">
        <DataCard Entries="@_server.GetValueOrDefault("name")" />

        <Title text="Specificaties" />
        <DataCard Entries="@_server.GetValueOrDefault("resources")" />
    </div>
</div>

@code{
    private Dictionary<string, Dictionary<string, string>> _server = new();
    [Parameter] public long Id { get; set; }

    protected override void OnInitialized() {
        _server.Add("name", new() { { "Naam","Server_Hogent_456" }});
        _server.Add("resources", new() { { "vCPU", "16" }, { "Geheugen", "64" }, { "Opslag", "512" } });
    }
}