@{
    string style = "button" + (InverseStyle ? " button-inverse" : "");
    string toggle = Toggle? "toggle-on" : "toggle-off";
}

<a 
    class="@toggle @style" 
    style="@customCss" 
    href="@Href" 
    @onclick="HandleClick"
>
    @Text
</a>