.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    height: var(--card-height);
}

.card:hover {
    font-weight: 600;
    border-bottom: var(--border-size-md) solid var(--blue);
}
