.data-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    box-sizing: border-box;
}

.methodexecutor {
    position: absolute;
    right: 10px;
    top: 10px;
    background:none;
    border: none;
    color: var(--dark-blue);
    cursor: pointer;
}

.data-card .entry {
    display: flex;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-direction: column;
    text-overflow: ellipsis;
}

.data-card .entry .label {
  font-weight: 600;
  flex: 1;
  padding-bottom: 5px;
}

.data-card .entry .value {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

.hoverable:hover {
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: var(--border-size-md) solid var(--blue);
}

@media screen and (min-width: 480px) {
    .data-card .entry {
    flex-direction: row;
  }

  .data-card .entry .label {
    width: 0px;
    min-width: min-content;
    flex-grow: 1;
    padding-bottom: 0px;
  }

  .data-card .entry .value {
    width: 0px;
    flex-grow: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
