
<div class="search-container card">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input 
        class="input" 
        type="text" 
        style="@CustomCss" 
        placeholder="@PlaceHolder" 
        @onchange="HandleSearchTermChanged" 
        value="@_searchterm" />
</div>


