
.status-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--padding-sm);
    border-radius: calc(4 * var(--padding-sm));
    color: var(--dark-gray);
    border: var(--border-size) solid var(--light-gray);
    background-color: var(--light-gray);
    font-size: var(--text-sm);
    font-weight: 600;
    padding: var(--padding-ty) calc(2 * var(--padding-sm));
    text-decoration: none;
    user-select: none;
}

.active {
    color: var(--white);
    background-color: var(--blue);
    border-color: var(--blue); 
    
}

@keyframes zoof {
    0%{
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}



