html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--font-stack);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* Three column layout */
.three-column-layout {
    --three-column-width: calc( (var(--extremely-large) - 2 * var(--three-column-gap)) / 3 );
}

/* Center main */
.three-column-layout,
.top-bar {
    max-width: var(--extremely-large);
    padding-top: var(--padding-lg);
    margin: auto;
}

.three-column-layout {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: var(--three-column-gap);
    margin: auto;
}

@media screen and (min-width: 509.3333333333px) {
    .three-column-layout {
        grid-template-columns: repeat(auto-fill, var(--three-column-width));
    }
}

/* Three column system */
.two-columns-container,
.one-third,
.two-thirds {
    --three-column-width: calc((var(--extremely-large) - 2 * var(--three-column-gap)) / 3);
}

.one-third,
.two-thirds,
.three-thirds {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.one-third {
    max-width: var(--three-column-width);
}

.two-thirds {
    max-width: calc(2 * var(--three-column-width) + var(--three-column-gap));
}

.two-columns-container {
    display: grid;
    gap: var(--data-card-gap) var(--three-column-gap);
}

.two-columns-container > div {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}

@media screen and (min-width: 1500px) {
    .two-thirds {
        grid-column: 2 / span 2;
    }

    .top-bar {
        padding-left: 0px; 
        padding-right: 0px; 
    }

    .two-columns-container {
        display: grid;
        grid-template-columns: repeat(3, var(--three-column-width));
    }
}

/* Padding on narrow screens */
main { 
    margin: 0px var(--padding-md);
}

/* Context menu */
.top-bar {
    max-width: 489.33333px; 
}

@media screen and (min-width: 1065px) {
    .top-bar {
        max-width: 1045px; 
    }
}

@media screen and (min-width: 1600px) {
    .top-bar {
        max-width: var(--extremely-large);
    }
}



