/* Loading screen */
.loading-screen-wrapper {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(var(--dark-blue), var(--blue));
    overflow: hidden;
}

.loading-screen {
    color: white;
    width: 100vw;
    height: 100vh;
    font-size: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: var(--padding-lg);
    animation: loadinganimation 2s infinite;
    overflow: hidden;
}

.loading-screen span {
    text-shadow: 0px 0px 5px var(--dark-blue);
}

.loading-items {
    display: flex;
    flex-direction: column;
    gap: var(--padding-lg);
}

.loading-line {
    height: 5px;
    width: 0%;
    background-color: white;
    border-radius: 50px;
    animation: loadingline 2s infinite;
}

@keyframes loadinganimation {
    50% {
        transform: scale(0.98)
    }
}

@keyframes loadingline {
    100% {
        width: 100%;
    }
}
