@page "/host/{id:long}"
@attribute [Authorize]

<PageTitle>Details host</PageTitle>

@if(host is null)
{
    <Loading />
}
else
{
    <ThreeColumnLayout>
        <OneWidth>
            <ButtonGroup>
                <BackButton Text="Terug" OnClick="NavigateBack" />
                <AuthorizeView Roles="Master, Administrator">
                    <span class="outline-end">
                        <Button Text="Beheren" />
                    </span>
                </AuthorizeView>
            </ButtonGroup>

            <DataCard Entries="@server.GetValueOrDefault("name")" />

            <Title Text="Specificaties" />
            <DataCard Entries="@server.GetValueOrDefault("resources")" />

            <Title Text="Resterende specificaties" />
            <DataCard Entries="@server.GetValueOrDefault("remainingResources")" />

            <Title Text="Processoren" />
            @foreach (var processor in processors)
            {
                    <DataCard Entries=@processor />
            }
        </OneWidth>
        <TwoWidth>
            <Title Text="Virtuele machines" />
             <NoResultsMessage Message="Deze server heeft geen virtuele machines"/>
        </TwoWidth>
    </ThreeColumnLayout>
}



