@inherits LayoutComponentBase
@using Client.Components
@inject NavigationManager NavigationManager


<NavigationMenu />
<GlobalSearchBar />

<main>
    @Body
</main>

<Footer />

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>



