@page "/"
@using Client.Components

<div class="one-third">
    <Title text="Configuratie"/>
    <Button />
</div>
<div class="two-thirds">
    <Title text="Virtuele machines" />
    <Button />
</div>

<DataCard />
<PageSelector NumberOfPages=6 />

