@page "/"
@using Client.Components

<div class="one-third">
    <Button />
</div>
<div class="two-thirds">
    <Button />
</div>

<DataCard Email="joren.vermeersch@student.hogent.be" TelephoneNumber="09 235 49 54" />
<PageSelector NumberOfPages=6 />



