@page "/"


<div class="context-menu">
    Content
</div>
<div class="three-column-layout">
    <div class="one-third">
        <Title text="Configuratie" />
        <Button />
        <DataCard />
        <PageSelector NumberOfPages=6 />
    </div>
    <div class="two-thirds">
        <Title text="Virtuele machines" />
        <div class="two-columns-container">
            <div>
                <Graph />
                <Button />
                <Input Type="@Input.InputType.SELECT" Items="@Options" Label="Selecteer een item" PlaceHolder="Select an option from the list" />
                <Input Type="@Input.InputType.TEXT" PlaceHolder="Naam" Label="Naam" />
            </div>
            <div>
                 <AvailabilityOptionSelect />
                <AvailabilityOption />
            </div>
            
        </div>
        
       
       

    </div>
</div>






@code {
    public List<string> Options { get; set; } = new() { "SelectOptionOne", "SelectOptionTwo", "SelectOptionThree" };
}
