@page "/login"
<PageTitle>Login</PageTitle>

<div class="center-container">
    <Title>Inloggen</Title>
    <Input Label="Gebruikersnaam"></Input>
    <Input Label="Wachtwoord"></Input>
</div>

@code {

}

