@page "/login"
@layout NoGlobalSearchLayout
<PageTitle>Login</PageTitle>

<div class="center-container">
    <div class="login-container">
        <Title Text="Inloggen"/>
        <AddInput Label="Gebruikersnaam"></AddInput>
        <AddInput Label="Wachtwoord"></AddInput>
        <div class="center-login-btn">
            <Button Text="Inloggen" />
        </div>
    </div>
</div>

@code {

}

