
<AuthorizeView Roles="Master, Observer, Administrator">
    <div class="global-search-bar">
        <div class="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Waar bent u naar op zoek?" />
        </div>
    </div>
 </AuthorizeView>