@page "/login"
@layout NoGlobalSearchLayout
<PageTitle>Login</PageTitle>

<div class="center-container">
    <div class="login-container">
        @*<Title Text="Inloggen"/>*@
        <div class="center-login-btn">
            <AccessControl></AccessControl>
        </div>
    </div>
</div>

@code {

}

