@page "/login"
@layout NoGlobalSearchLayout
<PageTitle>Login</PageTitle>

<div class="center-container">
    <div class="login-container">
        <div class="center-login-btn">
            <Button Text="Inloggen" />
        </div>
    </div>
</div>

@code {

}

