@inherits InputBase<bool>

<div class="input-container checkbox">
    <label>
        @Label:
    </label>
    <div class="checkbox-container">
        <input type="checkbox" @bind="@CurrentValue"/>
    </div>  
</div>