.drop-down-button-item {
    border-radius: 0px;
    border: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--blue);
}

.drop-down-items {
    position: absolute;
    left: 0px;
    top: 52px;
    background-color: white;
    z-index: 1000;
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
    border: 1px solid var(--dark-gray);
    max-height: 250px;
    overflow-y:scroll;
}

.dropdown {
    position: relative;
    width: 34px; /* Hardcoded base length that fixes the issue */
    flex-grow: 2;
    height: var(--card-height);
    border-radius: 50px;
}

.dropdown label {
    width: 0px;
}

.dropdown input {
    border: none;
    border-bottom: 1px solid var(--blue);
    width: 100%;
    padding: 15px 10px;
    outline: none;
}

.drop-down-button {
    background: var(--white);
    width: 100%; 
    height: 100%;
    border: none;
    border-radius: 0px;
    
}

.drop-down-button.left-align {
    justify-content: start; 
    padding-inline-start: var(--card-padding); 
}

.drop-down-button:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}

.drop-down-items .drop-down-button-item:last-child {
    border-bottom: none;
}