@{
    var textAlignment = (ChosenOption != closeMenuText && ChosenOption != placeholder) ? "left-align" : "";
}

<div>
    <div class="input-container">
        <label for="">
            <text>@Label:</text>
            @if (Required)
            {
                <sup class="required-input">*</sup>
            }
        </label>
        <div class="dropdown">
            <button type="button" class="drop-down-button @textAlignment" @onclick="ToggleDropDown">@ChosenOption</button>
            <div class="drop-down-items" style=@style>
                <input placeholder="Zoeken..." @oninput="ShowSearchResults" />
                @foreach (var item in filteredOptions)
                {
                    <button type="button" class="drop-down-button-item" onclick="@(() => UpdateChosenOption(item.Key, item.Value))">@item.Key</button>
                }
            </div>
        </div>
    </div>
    @ChildContent
</div>




